.profile__image {
    margin: 0;
    padding: 0;
    margin-top: 36.25px;
    margin-right: 23.5px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 929px) {
    .profile__image {
        margin-right: 0;
        margin-top: 38.25px;
        margin-bottom: 22.25px;
    }
}


