.body {
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    min-height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
}





.header {
    margin: 0;
    padding: 0;
    margin-left: 15.625%;
    margin-right: 15.625%;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px;
    border-color: rgba(84, 84, 84, 0.3);

}

.header__logo {
    margin: 0;
    padding: 0;
    max-width: 142px;
    margin-top: 45px;
    margin-bottom: 41px;
    align-self: flex-start;

}

.content {
    margin: 0;
    padding: 0;
    margin-left: 15.625%;
    margin-right: 15.625%;
    max-width: 880px;

}

.profile {
    margin: 0;
    padding: 0;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__block {
    margin: 0;
    padding: 0;
    max-width: 880px;
    display: flex;
    flex-direction: row; 
}
.profile__media {
    margin: 0;
    padding: 0;
    margin-left: -23.5px;
    background-color: #000000;
    width: 168.75px; 
}
.profile__image {
    margin: 0;
    padding: 0;
    margin-top: 36.25px;
    margin-left: 23.5px;
    width: 120px;
  
    border-radius: 50%;
    object-fit: cover;

}
.profile__content {
    margin: 0;
    padding: 0;
    padding-left: 3.75px;
    display: flex; 
    flex-direction: column ;
}
.profile__info {
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: row;
    

}

.profile__name {
    margin: 0;
    padding: 0;
    margin-top: 62px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-right: 18px;
    max-width: 294px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    

}
.profile__profession {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
}
.profile__edit-button {
    margin: 0;
    padding: 0;
    margin-top: 77px;
    width: 24px;
    height: 24px;
    border: #000000 1px;
    background-size: contain;
    background-color: black;
    background-image: url(./image/Edit_Button.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

.profile__add-button {
    margin: 0;
    padding: 0;
    background-size: contain;
    background-color: black;
    border: #000000 2px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 2px;
    background-image: url(./image/Add_Button.png);
    margin-top: 75px;
    width: 150px;
    height: 50px;
    
}
.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
  }