.popap__form-profession {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    border: none;
    outline: none;
    height: 14px;
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-width: 358px;
    color: #000000;
    border-bottom: 1px solid rgb(0%, 0%, 0%, 0.2);

}

@media screen and (max-width: 929px) {
    .popap__form-profession {
        margin-bottom: 45px;
        min-width: 238px;

    }
}